{%extends 'base.html'%} {%load bootstrap4%}{% load static %}
{%block content%}

<div class="container-fluid">
  <div class="row" style="font-family: georgia, sans-serif;" >
    <div class="col-md-2"></div>
    <div class="col-md-1" id="logo">
      <img src="/static/images/eden logo.jpeg" alt="edenlogo" id="logo">
      

    </div>
    <div class="col-md-1" style="margin-top: 3%; ">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
        <li class="logo-item"  >
             <a class="logo-link" href="#" style="color: black; "> Products</a>
            
              
        </li>
        
    </ul>

    </div>
    <div class="col-md-1" style="margin-top: 3%;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        <li class="logo-item"  >

             <a class="logo-link" href="#" style="color: black; margin-top: 2%;"> About</a>
              
        </li>
        
    </ul>

    </div>
  
  </div>
   

        
    
</div>

<div class="container-fluid">
    <div class="row" id="indexpic" >
      <img  src="/static/images/indexpic.jpg"   alt="Second slide" style="height: 70%; width:100%">

      </div>
<!-- 
Carousel Wrapper
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/indexpic.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Eden aquaponics</h3>
          <p>First text</p>
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/indexpic.jpg"   alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Eden aquaponics</h3>
          <p>Secondary text</p>
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/indexpic.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Eden aquaponics</h3>
          <p>Third text</p>
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> -->
  <!--/.Carousel Wrapper-->
        
        
    

<div class="row bg-light"  >

  <div class="container-fluid">
    <div class="row" style="align-items: center;  font-family: georgia, sans-serif;">
      <div class="col bg-light  p-3" style="color: black; " id="work-items">
        <h6> <img src="/static/images/Icon_Offering.png" alt="" style="height: 40px;width:40px;"> Comprehensive Product Offering</h6>
       
      </div>
      <div class="col bg-light  p-2" style="color: black;" id="work-items">

        <h6><img src="/static/images/Icon_Support.png" alt="" style="height: 40px;width:40px;">   Expert Support</h6>
          
      </div>
      <div class="col bg-light  p-2"  style="color: black;" id="work-items">
         <h6><img src="/static/images/Icon_Global.png" alt="" style="height: 40px;width:40px;">   Global Presence</h6>
      
      </div>
      <div class="col bg-light  p-2"  style="color: black;" id="work-items">

        <h6><img src="/static/images/Icon_Offering.png" alt="" style="height: 40px;width:40px;"> Outstanding Service</h6>
       
      </div>
    </div>  
  </div>
</div>

  </div>

   
<div class="container" >
  <div class="row" id="solutions" style="margin-bottom: 2%;margin-top: 4%; font-family: Georgia, serif;">
      <div class="col-md-6">
          <h1 style="color: 0B0B45;"> <b>Eden Aquatic Eco-Systems Solutions</b> </h1>
          <h6>Eden Aquatic Eco-Systems is a technically-competent provider of service and equipment to the commercial Aquaculture industry. Our world-class team brings leading experience and a deep understanding of customer needs. Eden Aquatic Eco-Systems has assembled an unparalleled team of Technicians, Engineers and Biologists who provide unwavering support, expertise and critical services to customers around the globe.</h6>

      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-6" >
          <img src="/static/images/Image_Solutions_4_2x.png" alt="" style="height: 40vh;width: 98%;">

      </div>
    
  </div>
  
  <div class="row" style="margin-bottom: 0.3%;margin-top: 4%; font-family: Georgia, serif;">
   
      <div class="col-md-6"  >
          <img src="/static/images/Image_Info_2x.png" alt="" style="height: 40vh; width: 98%;">

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5" >
        <h2 style="color: 0B0B45;margin-top: 2%;"><b>Useful Information</b></h2>
        <h6>Need technical information on a product?</h6>
  
        <h4 style="margin-top: 3%;"><img src="/static/images/Icon_Calculator.png" alt=""><b>   Product Data Sheets</b></h4>
        <h4><img src="/static/images/Icon_Forms.png" alt=""><b>   Important Forms</b></h4>
        <h4><img src="/static/images/Icon_Sizing.png" alt=""><b>   FAQs</b></h4>
        

      </div>

  </div>

  <div class="row" >
      <div class="col-md-3">
          <img src="/static/images/econ_vx_pump-pot_hr.jpg" alt="">
      </div>
      <div class="col-md-3">
          <img src="/static/images/sparus-cft-new-image-2.jpg" alt="">
      </div>
      <div class="col-md-3">
          <img src="/static/images/taurus-vs-new-product.jpg" alt="">
      </div>
      <div class="col-md-3">
          <img src="/static/images/330036_ds50p1_mr_with_logo_edit_3_1.jpg" alt="">
      </div>
  </div>
</div>
   
</div>
<div class="container-fluid" id="footer" >
    <div class="row" style="color: white; font-family: sofia, serif;" >
        <div class="col-md-1"></div>
        <div class="col-md-2" style="margin-top: 4%;" >
            <img src="/static/images/eden logo.jpeg" alt="" id="logo">
            <h6 style="margin-top: 15%;"><b>+254700 000 000</b></h6>
            <h6><b>Email Us</b></h6>
            <h6><b>FAQs</b></h6>
            <h6><b>Website Accessibility Statement</b></h6>
        </div>
        <div class="col-md-2" style="margin-top: 5%;">
            <h5><b>About</b></h5>
            <h6><b>About us</b></h6>
            <h6><b>Product Data Sheets</b></h6>
        </div>
        <div class="col-md-2" style="margin-top: 5%;">
            <h5><b>Customer Service</b></h5>
            <h6><b>Contact Us</b></h6>
            <h6><b>Request a Catalog</b></h6>
            <h6><b>Standard Terms and Conditions</b></h6>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" style="margin-top: 5%;" >
            <h5 ><b>Sign up for Special Offers</b></h5>

            <div class="form-outline">
                <!-- <input type="email" style="width: 50%;" placeholder="Enter Email Address" id="typeEmail" class="form-control" />
                <button class="btn btn-theme" style="margin-left: 51%; margin-top:-12%;">Subscribe</button>
 -->

            <form
             action="https://formspree.io/f/xzbwkqkd"
                     method="POST"
                        >
               <label>

                <input type="email" name="email" placeholder="Enter email address...">
                      </label>
      
  
                 <button type="submit" style="background-color: green;color: white;">Subscribe</button>
                      </form>
              </div>


            <h5 style="margin-top: 2%;"><b>Stay Connected</b></h5>
            
           
            
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-2 mr-1 fa-1.5x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-2 mr-1 fa-1.5x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-2 mr-1 fa-1.5x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-2 mr-1 fa-1.5x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-2 mr-1 fa-1.5x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-1.5x"> </i>
          </a>

            <p style="margin-top: 17%;margin-left: 40%;" id="terms">Terms of Use | Privacy Policy | Site Map</p>

        </div>
    </div>
</div>

{%endblock%}